<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Allow outgoing network connections -->
    <key>com.apple.security.network.client</key>
    <true/>
    <!-- Allow read/write access to any preset files (just in case it's necessary) -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    <!-- Allow read/write access to ~/Library/Application Support/Vendor -->
    <key>com.apple.security.files.home-dir.read-write</key>
    <true/>
</dict>
</plist>